#div1 {
    height: 300px;
    width: 300px;
    background-color: blue;
}
#div2 {
    height: 500px ;
    width: 500px;
    background-color: green;
    float: right; 
}
div {
    display: inline-block;
}