div {
    width: 300px;
    height: 300px;   
    display: inline-block;
}
#div1 {
    background-color: blue;
}
#div2 {
    background-color: red;
}
#div3 {
    background-color: green;
}
h3 {
    text-align: center;
}