#primeiro {
    width: 400px;
    background-color: #bf1f1f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    color: white;
}
#segundo {
    width: 300px;
    background-color: #BF1F1F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #4B0082;
    border: 2px solid #F5F5DC;
    margin: 5px;
    padding: 20px;
    font-style: italic;
    text-align: left;
}
#terceiro {
    width: 345px;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: 7px dotted rgb(139, 0, 139);
    margin: 15px;
    padding: 20px;
    font-style: italic;
    color: rgb(25, 25, 112);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
